@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&family=EB+Garamond&family=Special+Elite&display=swap');

@import url('http://fonts.cdnfonts.com/css/sulangor');
@import url('http://fonts.cdnfonts.com/css/inter');


html {
    @apply scroll-smooth;
    max-width: 100%;
    overflow-x: hidden;
}

/* h1 {
    font-family: 'Sulangor', sans-serif;
} */

p {
    font-family: 'Inter', sans-serif;
}

.prim-color{
    color: #A04E1F;
}

.bg-prim-color{
    background: #A04E1F;
}

@media only screen and (max-width: 640px) {
    /* Home - background */
    .title-sm{
        @apply text-4xl w-[80%] break-words;
    }
    .logo-sm {
        @apply hidden;
    }
    .bg-img-sm{
        background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.548), rgba(227, 223, 226, 0)),url('./img/renaissance.jpg');
        background-position: bottom;
        background-size: contain;
    }

}

@media only screen and (min-width: 640px) {
    /* Home - background */
    .title-lg{
        @apply text-6xl w-[40%] break-normal;
    }
    .logo-lg {
        @apply flex;
    }
    .bg-img-lg{
        background-image: linear-gradient(to bottom, rgb(245, 246, 252), rgba(227, 223, 226, 0)),url('./img/renaissance.jpg');
    }
}

/* .circle {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: solid #D4A976 2px;
}

.qsContainer {
    height: 3rem;
    width: 100%;
    background-color: #A04E1F;
    border-radius: 15px;
} */