@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&family=EB+Garamond&family=Special+Elite&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');


html {
    @apply scroll-smooth;
    max-width: 100%;
    overflow-x: hidden;
}

.prim-color{
    color: #D4A976;
}

.bg-prim-color{
    background: #D4A976;
}

@media only screen and (max-width: 640px) {
    /* Home - background */
    .title-sm{
        @apply text-4xl w-[80%] break-words;
    }
    .logo-sm {
        @apply hidden;
    }
    .bg-img-sm{
        background-image: url('./img/bg.png');
        background-position: bottom;
        background-size: contain;
        /*linear-gradient(to bottom, rgba(245, 246, 252, 0.548), rgba(227, 223, 226, 0)),*/
    }
    .bg-flower-sm {
        background-image: url('./img/flower.png');
        position: absolute;
        top: 0;
        left: 0;
    }
    .eclipse-sm {
        height: 150%;
        width: 75%;
        border-radius: 50%;
        border: 1px solid #D4A976;
        background-color: #21201D;
    }

}

@media only screen and (min-width: 640px) {
    /* Home - background */
    .title-lg{
        @apply text-8xl w-[40%] break-normal;
    }
    .logo-lg {
        @apply flex;
    }
    .bg-img-lg{
        background-image: url('./img/bg.png');
        /* box-shadow: inset 0 0 100px #000; */
        /*linear-gradient(to bottom, rgb(245, 246, 252), rgba(227, 223, 226, 0))*/
    }
    .bg-flower-lg {
        background-image: url('./img/bg.png');
        /* position: absolute; */
        /* top: 50%;
        left: 0; */
    }
    .eclipse {
        height: 190%;
        width: 95%;
        border-radius: 50%;
        border: 2px solid #D4A976;
        background-color: #21201D;
    }
}

/* Timeline */
.timeline-bg {
    background-image: url('./img/flower.png'), url('./img/flower2.png');
    background-repeat: no-repeat,no-repeat;
    background-position: bottom 50% left, bottom 50% right;
    background-size: 25vh, 25vh;
}

.process-wrapper {
    margin: auto;
    max-width: screen;
}

.progress-bar-container{
    position: relative;
    width: 90%;
    margin: auto;
    height: 300px;
    margin-top: 59px;
    
}

.progress-bar-container ul{
    padding: 0;
    margin: 0;
    padding-top: 15px;
    margin-left: 30px;
    z-index: 9999;
    width: 100%;
    margin-top: -40px;
}

.progress-bar-container li{
    list-style: none;
    float: left;
    width: 15%;
    text-align: center;
    color: #D4A976;
    transition: all ease 0.2s;
    vertical-align: bottom;
    height: 59px;
    margin-top: -35px;
    z-index: 10;
    position: relative;
}

.progress-bar-container li .step-inner{
    position: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 100%;
    margin-top: 35%;
    font-size: 17px ;
    justify-content: center;
    align-items: center;

}

.progress-bar-container li .circle{
    contain: "";
    width: 40px;
    height: 40px;
    left : 36%;
    top: 235%;
    z-index: 2;
    position: absolute;
    
}

.progress-bar-container li .step-inner .date{
    font-size: 15px;
}

.progress-bar-container #line{
    width: 90%;
    height: 3px;
    position: absolute;
    margin: auto;
    background: #D4A976;
    left: 5%;
    top : 130px;
    z-index: 0;

}

.progress-bar-container li:nth-child(odd) .step-inner{
    margin-top: 190px;

}

.progress-bar-container li:nth-child(odd) .circle{
    top: 200%;
}

.progress-bar-container li:nth-child(4) .step-inner{
    margin-top: 26%;

}

.progress-bar-container li:nth-child(4) {
    width: 20%;

}

.progress-bar-container li:nth-child(4) .circle {
   margin-left: 6%;

}

.progress-bar-container li .active{
    @apply border-[1px] border-[#D4A976] rounded-lg lg:max-w-[50%] px-3 py-2 hover:shadow-2xl transition-all duration-150 lg:ml-[40px];
}

.candid-bg {
    background-image: url('./img/candidates/smoke.png');
}

.candid {
    width: 100%;
    border: 2.5px solid #D4A976;
    place-content: center;
    overflow: hidden
}

/* frame */

.title{
    content: " ";
    width: 100%;
    margin: auto;
    place-items: center;
    background-image: linear-gradient(-45deg, #fff, #8b8383, #D4A976, rgb(213, 175, 39));
    background-size: 300%;
    background-position: left;
    transition: background-position .3s ease-in-out;
    @apply flex flex-row p-4 mt-3;

}

.container:hover > .title {
    background-position: right;
    background-color: #fff;
}

.boxNo {
    height: 80px;
    width: 80px;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 50px;
    background-color: #20201D;
}

.title h1{
    @apply text-4xl text-[#F1C88C];
    margin:auto;
    font-weight: 200;
    text-align: center;
}
.title h2 {
    @apply text-xl
}

.title h3 {
    @apply text-lg text-[#694A24]
}